.portfolio {
  padding: 50px 20px;
  text-align: center;
  background-color: #f8f9fa;

  h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #232121;

    @media (max-width: 1024px) {
      font-size: 2.5rem; // Réduire la taille de la police sur les tablettes
    }

    @media (max-width: 768px) {
      font-size: 2rem; // Réduire davantage la taille de la police sur les mobiles
    }
  }

  .portfolio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;

    @media (max-width: 768px) {
      gap: 40px; // Réduire l'espacement entre les cartes sur les petits écrans
    }
  }

  .project-card {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .card-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }

      h3 {
        font-size: 2.5rem;
        margin-bottom: 10px;
        color: #F04A4E;

        @media (max-width: 1024px) {
          font-size: 2rem; // Réduire la taille sur les tablettes
        }

        @media (max-width: 768px) {
          font-size: 1.5rem; // Réduire davantage sur les mobiles
        }
      }

      p {
        font-size: 1rem;

        @media (max-width: 768px) {
          font-size: 0.9rem; // Réduire légèrement la taille du texte sur les mobiles
        }
      }
    }

    @media (max-width: 1024px) {
      width: 400px; // Réduire la taille des cartes sur les tablettes
      height: 250px; 
    }

    @media (max-width: 768px) {
      width: 100%; // Prendre toute la largeur de l'écran sur les mobiles
      height: 200px; // Adapter la hauteur
    }
  }

  .project-card-special {
    .card-image {
      object-fit: contain;
      background-color: #fff;
    }

    .card-overlay {
      h3 {
        font-size: 2rem; // Réduire la taille du h3 uniquement pour cette carte

        @media (max-width: 768px) {
          font-size: 1.5rem; // Adapter aussi pour les petits écrans
        }
      }
    }
  }
}
