.introduction {
  background-color: #232121; // Gris foncé pour tout le fond
  color: #ffffff;
  padding: 50px 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .custom-hr {
    width: 80px;
    border: none;
    height: 2px;
    background-color: #F04A4E;
  }

  h2 {
    font-size: 5rem;
    margin-bottom: 20px;
    color: #ffffff;
  }

  p {
    font-size: 1.2rem;
    color: #cccccc;
  }

  .down-arrow {
    margin-top: 100px;
    margin: auto;
  }

  // Media Queries pour rendre la section responsive
  @media screen and (max-width: 1024px) {
    // Pour les tablettes
    h2 {
      font-size: 3.5rem; // Taille du titre réduite pour les tablettes
    }
    p {
      font-size: 1.1rem; // Réduire la taille du texte pour un meilleur confort de lecture
    }
    .down-arrow {
      margin-top: 50px; // Moins d'espace en haut pour adapter la hauteur sur tablette
    }
  }

  @media screen and (max-width: 768px) {
    // Pour les smartphones
    padding: 30px 15px; // Réduction de padding sur les petits écrans
    h2 {
      font-size: 2.5rem; // Taille du titre plus petite sur smartphone
    }
    p {
      font-size: 1rem; // Texte plus petit sur smartphone
    }
    .down-arrow {
      margin-top: 30px; // Réduction supplémentaire de l'espace au-dessus
    }
  }
}
